Repository nodejs-loaders/nodejs-loaders, pull requests merged in 2025-05, with the labels that each got.

#210 dep(node): support 24
  .github/workflows/ci.yml
  .nvmrc
  package-lock.json
  packages/tsx/package.json
Labels: pkg:tsx, semver:none

#212 test(alias): remove obsolete node23+ gate on test-case
  packages/alias/alias.test.mjs
Labels: pkg:alias, semver:none

#211 fix(alias): subpath import key erroneously flagged as directory
  packages/alias/alias.loader.mjs
  packages/alias/alias.test.mjs
  packages/alias/fixtures/subpath-import/config.js
  packages/alias/fixtures/subpath-import/e2e.mjs
  packages/alias/fixtures/subpath-import/package.json
  packages/alias/fixtures/subpath-import/tsconfig.json
Labels: bug, semver:patch, pkg:alias

#213 release(alias): bump version `2.1.1` → `2.1.2`
  packages/alias/package.json
Labels: semver:patch, pkg:alias

#214 release(tsx): bump version `1.1.1` → `1.1.2`
  packages/tsx/package.json
Labels: semver:patch, pkg:tsx
